# Root .gitignore
.vscode/
*.log
.DS_Store
Thumbs.db
__pycache__/
*.pyc

# Flutter build artifacts
mobile_app/.dart_tool/
mobile_app/.flutter-plugins-dependencies
mobile_app/build/
mobile_app/.pub-cache/
mobile_app/.pub/
